@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 80%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
